body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* ##### COMPONENTS ##### */

/* HEADER COMPONENT */
.header {
  background-color: purple;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  font-size: 20px;
}
.title {
  margin: 0;
}
.notifications {
  margin: 0;
  cursor: pointer;
}