/* GLOBAL COLOR VARS */
:root{
  --bg: #16161A;
  --purpmain: #7F5AF0;
  --pdark1: #6b4bcc;
  --pdark2: #352A5A;
  --plight1: #C9B8FF;
}
/* GLOBAL STYLING */
body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  display: flex;
  flex-grow: 1;
}
.content {
  flex-grow: 1;
  padding: 20px;
}

/* HEADER COMPONENT */
.header {
  background-color: var(--purpmain);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 16px;
  z-index: 1;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}

/* SIDEBAR COMPONENT */
.sidebar {
  background-color: var(--purpmain);
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  color: white;
}
.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar-buttons a {
  text-decoration: none;
  background-color: var(--pdark1);
  color: white;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
}
.sidebar-buttons a:hover {
  background-color: var(--plight1);
  color: black;
}
.sidebar-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pfp-div {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}
.pfp-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Sign Up Page Styling */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #280a5f, #16161A);
}

.signup-box {
  background-color: var(--pdark1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  width: 350px;
}

.signup-box h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.signup-box p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.signup-box form {
  display: flex;
  flex-direction: column;
}

.signup-box input {
  width: 93%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.signup-button {
  background-color: #ffcc00;
  color: black;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.signup-button:hover {
  background-color: #e6b800;
}

/* Back to Home Button */
.back-button {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.back-button:hover {
  background-color: white;
  color: black;
}